/* CSS Document */
/*========================================================

	FileName	:	reset.css
	LastUpdate	:	null

	Index:
		01:common style
		02:lerfix + other

=======================================================*/
/*
	1:common style
-----------------------------------------------*/
/*
Reset: margin, padding propaty*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
}

/*
HTML5 propaty*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, small {
  display: block;
}

/*
Reset: border propaty*/
img, fieldset {
  border: 0;
}

/*
Reset: List selector*/
ol, ul, li {
  list-style: none;
}

/*
Reset: font propaty*/
address {
  font-style: normal;
  font-weight: normal;
}

/*
Reset: horizontal rule display*/
hr {
  display: none;
}

/*
Reset: link display*/
a {
  outline-style: none;
}

a img {
  border: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*
	2:Clerfix + other
-----------------------------------------------*/
.clearfix:after, #messageArea dl dt:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix, #messageArea dl dt {
  display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix,
* html #messageArea dl dt {
  height: 1%;
}

.clearfix,
#messageArea dl dt {
  display: block;
}

/* End hide from IE-Mac */
/*
scrooll bar for FF*/
html {
  overflow-y: scroll;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/*
IE png FIX*/
img, div, dt, p {
  behavior: url(/shared/js/iepngfix.htc);
}
