/* CSS Document
Theme Name: null
Theme URI: null
Description: null
Author: null
Version:1.0
*/
/*========================================================

	FileName	:	style.css
	AuthorGroup :	null
	AuthorName	:	null
	LastUpdate	:	null

	Index:
		00:ResetAndImportSettings
		01:CommonSettings
		02:WrapperSettings
		03:HeaderSettings
		04:ArticleSettings
		05:FooterSettings
		06:NavSettings
		07:VisualSettings
		08:ContentsSettings
		09:TableSettings
		10:FormSettings

=======================================================*/
h1, h2, h3, h4, h5, h6, p, span, a, dt, th, td, li {
  color: #333;
  font-family: "Sawarabi Gothic", sans-serif;
  letter-spacing: 3px;
  word-break: break-all;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}

/*=======================================================
	01:CommonSettings
=======================================================*/
html {
  width: 100%;
  background-color: #f8f8f8;
}

body {
  width: 100%;
  min-height: 100vh;
  text-decoration: none;
  overflow: hidden;
  background-color: #e8e8e8;
}

h1, h2, h3, h4, h5, h6, a, span, th, td {
  font-weight: normal;
}

h1 {
  font-size: 18px;
}

@media (min-width: 280px) {
  h1 {
    font-size: calc(18px + ( 24 - 18 ) * ( 100vw - 280px ) / (1024 - 280));
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*=======================================================
	02:WrapperSettings
=======================================================*/
#wrapper {
  width: 100%;
}

/*=======================================================
	03:HeaderSettings
=======================================================*/
header {
  width: 100%;
}

.headerWrapper {
  width: 100%;
  position: fixed;
}

.headerWrapper .headerContainer {
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: #56939E;
}

.headerWrapper .headerContainer .headerTitle {
  width: 240px;
  float: left;
}

.headerWrapper .headerContainer .headerTitle h1 a {
  color: #FFF;
  line-height: 30px;
  display: block;
}

.headerWrapper .headerContainer .headerSearchbox {
  width: 60vw;
  display: inline-block;
}

.headerWrapper .headerContainer .headerSearchbox input {
  width: calc(60vw - 65px);
  height: 30px;
  padding: 0px 10px;
  border: 0px;
  display: inline-block;
}

.headerWrapper .headerContainer .headerSearchbox button {
  width: 65px;
  height: 30px;
  padding: 5px;
  background-color: #f8f8f8;
  display: inline-block;
}

@media (max-width: 820px) {
  .headerWrapper .headerContainer .headerSearchbox {
    display: none;
  }
}

.headerWrapper .headerContainer .headerHum {
  width: 30px;
  float: right;
}

@media (min-width: 946px) {
  .headerWrapper .headerContainer .headerHum {
    display: none;
  }
}

.headerWrapper .headerContainer .headerHum #navInput:checked ~ #navClose {
  display: block;
  opacity: .5;
}

.headerWrapper .headerContainer .headerHum .navUnshown {
  display: none;
}

.headerWrapper .headerContainer .headerHum #navOpen {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 auto;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
}

.headerWrapper .headerContainer .headerHum #navOpen span {
  position: absolute;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  background: #FFF;
  content: '';
  display: block;
}

.headerWrapper .headerContainer .headerHum #navOpen span::before {
  position: absolute;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  background: #FFF;
  content: '';
  display: block;
  bottom: -7px;
}

.headerWrapper .headerContainer .headerHum #navOpen span::after {
  position: absolute;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  background: #FFF;
  content: '';
  display: block;
  bottom: -14px;
}

.headerWrapper .headerContainer .headerHum #navClose {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*=======================================================
	04:ArticleSettings
=======================================================*/
article {
  width: 100%;
  padding: 60px  0px 0px 0px;
  min-height: 100vh;
}

article .sideBar {
  width: 255px;
  height: 100vh;
  background-color: #e8e8e8;
  position: static;
  float: left;
}

@media (max-width: 946px) {
  article .sideBar {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 255px;
    height: 100vh;
    background-color: #e8e8e8;
    transform: translateX(-255px);
    -webkit-transform: translateX(-255px);
    transition: .3s ease-in-out;
  }
}

article .sideBar .gnavWrapper {
  width: 255px;
  height: calc(100vh - 120px);
  position: fixed;
  overflow-y: scroll;
}

article .sideBar .gnavWrapper .gnavContainer {
  width: 100%;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarList {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #aaa;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarList h2 {
  color: #aaa;
  padding: 0px 0px 5px 15px;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarList ul {
  width: 100%;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarList ul li {
  width: 100%;
  height: 40px;
  display: block;
  line-height: 30px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarList ul li a {
  height: 100%;
  padding: 5px 15px 5px 25px;
  display: block;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarList ul li a i {
  width: 40px;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarList ul li:hover {
  background-color: #f8f8f8;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarSearchbox {
  padding: 24px 15px;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarSearchbox input {
  width: 160px;
  height: 30px;
  display: inline-block;
}

article .sideBar .gnavWrapper .gnavContainer .sidebarSearchbox button {
  width: 60px;
  height: 30px;
  background-color: #f8f8f8;
  display: inline-block;
}

@media (min-width: 946px) {
  article .sideBar .gnavWrapper .gnavContainer .sidebarSearchbox {
    display: none;
  }
}

article .sideBar .gnavWrapper .gnavContainer .categoryList ul {
  width: 100%;
}

article .sideBar .gnavWrapper .gnavContainer .categoryList ul li a {
  padding: 5px 15px 5px 25px;
  display: block;
}

article .sideBar .gnavWrapper .gnavContainer .categoryList ul li a .categoryTitle {
  float: left;
}

article .sideBar .gnavWrapper .gnavContainer .categoryList ul li a .categoryCount {
  padding: 0px 5px;
  color: #aaa;
  font-size: 12px;
  text-align: center;
  float: right;
}

article .mainBar {
  width: calc(100% - 255px);
  min-height: 100vh;
  background-color: #f8f8f8;
  float: right;
}

@media (max-width: 945px) {
  article .mainBar {
    width: 100%;
  }
}

article .mainBar .articleWrapper {
  width: 90%;
  margin: 24px auto;
  max-width: 1024px;
  /*.profileWraapper{
				img{
					width: 250px;
					height: auto;
					float: right;
					border-radius: 25px;
					@include media_max(554px){
						width: 100%;
						margin-bottom: 24px;
						float: none;
					}
				}
				p{
					width: calc(100% - 250px);
					margin-bottom: 24px;
					padding-right: 24px;
					float: left;
					@include media_max(554px){
						width: 100%;
						padding-right: 0px;
						float: none;
					}
				}
			}*/
}

article .mainBar .articleWrapper ul.pankuzu {
  width: 100%;
}

article .mainBar .articleWrapper ul.pankuzu li {
  float: left;
}

article .mainBar .articleWrapper ul.pankuzu li a {
  font-size: 12px;
  display: inline-block;
}

article .mainBar .articleWrapper ul.pankuzu li a:hover {
  text-decoration: underline;
}

article .mainBar .articleWrapper ul.pankuzu li::after {
  margin-left: 15px;
  font-size: 12px;
  content: ">>";
  text-decoration: none;
}

article .mainBar .articleWrapper .pageTitle {
  margin-bottom: 36px;
}

article .mainBar .articleWrapper .pageTitle h2 {
  width: 100%;
  margin-top: 12px;
}

article .mainBar .articleWrapper .pageTitle .articleMetadata span {
  font-size: 11px;
}

article .mainBar .articleWrapper .pageTitle .articleMetadata span::after {
  content: "/";
}

article .mainBar .articleWrapper .pageTitle .articleMetadata span:last-child::after {
  content: "";
}

article .mainBar .articleWrapper .pageTitle .category {
  margin-bottom: 12px;
}

article .mainBar .articleWrapper .pageTitle .category li {
  margin-left: 5px;
  float: left;
}

article .mainBar .articleWrapper .pageTitle .category li a {
  color: #56939E;
}

article .mainBar .articleWrapper .pageTitle .category li a:hover {
  opacity: 0.5;
}

article .mainBar .articleWrapper .pageTitle .category li a::before {
  content: "#";
}

article .mainBar .articleWrapper .pageTitle .category li a::before:hover {
  opacity: 0.5;
}

article .mainBar .articleWrapper .articleBox {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

@media (max-width: 945px) {
  article .mainBar .articleWrapper .articleBox {
    width: 100%;
  }
}

article .mainBar .articleWrapper .articleBox li {
  width: 13vw;
  height: 13vw;
  padding: 5px;
  margin: 0px 18px 18px 0px;
  background-color: #FFF;
  box-shadow: 2px 5px #aaa;
  border: 1px solid #f8f8f8;
  display: block;
  overflow: hidden;
  float: left;
}

article .mainBar .articleWrapper .articleBox li:hover {
  background-color: #f2f2f2;
}

article .mainBar .articleWrapper .articleBox li h3 {
  margin-bottom: 18px;
  font-size: 18px;
}

@media (min-width: 340px) {
  article .mainBar .articleWrapper .articleBox li h3 {
    font-size: calc(18px + ( 14 - 18 ) * ( 100vw - 340px ) / (1024 - 340));
  }
}

@media (min-width: 1024px) {
  article .mainBar .articleWrapper .articleBox li h3 {
    font-size: 14px;
  }
}

article .mainBar .articleWrapper .articleBox li p {
  font-size: 16px;
}

@media (min-width: 340px) {
  article .mainBar .articleWrapper .articleBox li p {
    font-size: calc(16px + ( 11 - 16 ) * ( 100vw - 340px ) / (1024 - 340));
  }
}

@media (min-width: 1024px) {
  article .mainBar .articleWrapper .articleBox li p {
    font-size: 11px;
  }
}

article .mainBar .articleWrapper .articleBox li img {
  width: 100%;
  height: auto;
}

@media (max-width: 1125px) {
  article .mainBar .articleWrapper .articleBox li {
    width: 20vw;
    height: 20vw;
  }
}

@media (max-width: 719px) {
  article .mainBar .articleWrapper .articleBox li {
    width: 25vw;
    height: 25vw;
  }
}

@media (max-width: 490px) {
  article .mainBar .articleWrapper .articleBox li {
    width: 80vw;
    height: 80vw;
    margin: 0px;
    margin: 0 auto;
    margin-bottom: 18px;
    float: none;
  }
}

article .mainBar .articleWrapper .articleBox li a {
  width: 100%;
  height: 100%;
  display: block;
}

article .mainBar .articleWrapper .articleSingle {
  width: 100%;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent img {
  margin-bottom: 24px;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent .leftContent {
  width: 50%;
  padding-right: 12px;
  float: left;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent .rightContent {
  width: 50%;
  padding-left: 12px;
  float: right;
}

@media (max-width: 946px) {
  article .mainBar .articleWrapper .articleSingle .articleSinglecontent .mobileFloatnone {
    width: 100%;
    padding: 0px;
    float: none;
  }
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent .singleIndex {
  width: 100%;
  padding: 15px;
  margin-bottom: 24px;
  background-color: #e8e8e8;
  border: 1px solid #56939E;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent .singleIndex h3 {
  text-align: center;
  border-bottom: none;
  margin-bottom: 0px;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent .singleIndex ul {
  margin-bottom: 0px;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent .singleIndex ul li {
  margin: 5px 0px;
  list-style: disc none inside;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent .singleIndex ul li a:hover {
  text-decoration: underline;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent h3 {
  width: 100%;
  padding: 5px;
  color: #56939E;
  border-bottom: 2px solid #56939E;
  font-weight: 1.5;
  font-size: 1.5rem;
  margin-bottom: 36px;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent p {
  font-size: 1.0rem;
  margin-bottom: 24px;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent ol, article .mainBar .articleWrapper .articleSingle .articleSinglecontent ul {
  margin-bottom: 24px;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent ul, article .mainBar .articleWrapper .articleSingle .articleSinglecontent li {
  list-style: disc none inside;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent table {
  width: 100%;
  margin-bottom: 24px;
  background-color: #e8e8e8;
  border: 1px solid #56939E;
  border-collapse: collapse;
}

article .mainBar .articleWrapper .articleSingle .articleSinglecontent table th, article .mainBar .articleWrapper .articleSingle .articleSinglecontent table td {
  padding: 5px 0px;
  text-align: center;
  border: 1px solid #56939E;
}

article .mainBar .articleWrapper .soccialButtoncontainer {
  width: 100%;
}

article .mainBar .articleWrapper .soccialButtoncontainer p {
  text-align: center;
  margin: 12px 0px;
}

article .mainBar .articleWrapper .soccialButtoncontainer p::before {
  content: "-";
}

article .mainBar .articleWrapper .soccialButtoncontainer p::after {
  content: "-";
}

article .mainBar .articleWrapper .soccialButtoncontainer .socialButton {
  display: flex;
  justify-content: center;
}

article .mainBar .articleWrapper .soccialButtoncontainer .socialButton div {
  width: 100px;
  min-width: 50px;
  padding: 5px 0px;
  border: 2px solid #FFF;
}

article .mainBar .articleWrapper .soccialButtoncontainer .socialButton div a {
  color: #FFF;
  text-align: center;
  display: block;
}

article .mainBar .articleWrapper .soccialButtoncontainer .socialButton div:hover {
  opacity: 0.5;
}

article .mainBar .articleWrapper .soccialButtoncontainer .socialButton .twitter {
  background-color: #55acee;
}

article .mainBar .articleWrapper .soccialButtoncontainer .socialButton .facebook {
  background-color: #3b5998;
}

/*=======================================================
	05:FooterSettings
=======================================================*/
footer {
  width: 100%;
  height: 60px;
  background-color: #56939E;
}

footer .footerWrapper {
  width: 100%;
}

footer .footerWrapper .copyRight {
  text-align: center;
}

footer .footerWrapper .copyRight p {
  font-size: 12px;
  line-height: 60px;
  color: #FFF;
}

@media (min-width: 764px) {
  footer .footerWrapper .copyRight p {
    font-size: calc(12px + ( 18 - 12 ) * ( 100vw - 764px ) / (1024 - 764));
  }
}

@media (min-width: 1024px) {
  footer .footerWrapper .copyRight p {
    font-size: 18px;
  }
}

/*=======================================================
	06:NavSettings
=======================================================*/
/*=======================================================
	07:VisualSettings
=======================================================*/
/*=======================================================
	08:ContentsSettings
=======================================================*/
/*=======================================================
	09:TableSettings
=======================================================*/
/*=======================================================
	10:FormSettings
=======================================================*/
