@charset "UTF-8";
/* CSS Document
Theme Name: myportfolio
Theme URI: myportfolio
Description: myportfolio
Author: takuto_kawai
Version:1.0
*/
/*========================================================

	FileName	:	smtp.css
	AuthorGroup :	null
	AuthorName	:	null
	LastUpdate	:	null

	Index:
		00:ResetAndImportSettings
		01:CommonSettings
		02:WrapperSettings
		03:HeaderSettings
		04:ArticleSettings
		05:FooterSettings
		06:NavSettings
		07:VisualSettings
		08:ContentsSettings
		09:TableSettings
		10:FormSettings

=======================================================*/
/*=======================================================

	VI情報

	MainColor	:null
	SubColor	:null

=======================================================*/
/*=======================================================
	01:CommonSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	02:WrapperSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	03:HeaderSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	04:ArticleSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	05:FooterSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	06:NavSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	07:VisualSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	08:ContentsSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	09:TableSettings
=======================================================*/
@media screen and (max-width: 900px) {
}
/*=======================================================
	10:FormSettings
=======================================================*/
@media screen and (max-width: 900px) {
}

/*# sourceMappingURL=style.css.map */
