@charset "utf-8";
/* CSS Document
Theme Name: null
Theme URI: null
Description: null
Author: null
Version:1.0
*/

/*========================================================

	FileName	:	style.css
	AuthorGroup :	null
	AuthorName	:	null
	LastUpdate	:	null

	Index:
		00:ResetAndImportSettings
		01:CommonSettings
		02:WrapperSettings
		03:HeaderSettings
		04:ArticleSettings
		05:FooterSettings
		06:NavSettings
		07:VisualSettings
		08:ContentsSettings
		09:TableSettings
		10:FormSettings

=======================================================*/

//=====================================
//	VI Settings
//=====================================

$maincolor: #56939E;
$subcolor: blue;
$fontcolor: #333;
$backgroundcolor: #999999;
$font_family: 'Sawarabi Gothic', sans-serif;
$green: #56939E;
$yellow: #FFD46D;
$grey: #f8f8f8;
$darkgrey: #e8e8e8;
$twitter: #55acee;
$facebook: #3b5998;

//=====================================
//	Device width Settings
//=====================================

@mixin media_min($width: 1024px){
	@media (min-width: $width){
		@content;
	}
}

@mixin media_max($width: 1024px){
	@media (max-width: $width){
		@content;
	}
}

//=====================================
//	Font settings
//=====================================

@mixin font_style{
	color: $fontcolor;
	font-family: $font_family;
	letter-spacing: 3px;
	word-break: break-all;
	-webkit-text-size-adjust: none;
	text-decoration: none;
}

@mixin fontsize_flex($mobile_fontsize: 12, $pc_fontsize: 18, $mobile_width: 280, $pc_width: 1024){
	font-size: #{$mobile_fontsize}px;
	@include media_min(#{$mobile_width}px) {
		font-size: calc(#{$mobile_fontsize}px + ( #{$pc_fontsize} - #{$mobile_fontsize} ) * ( 100vw - #{$mobile_width}px ) / (#{$pc_width} - #{$mobile_width}));
	}
	@include media_min(#{$pc_width}px) {
		font-size: #{$pc_fontsize}px;
	}
}

h1,h2,h3,h4,h5,h6,p,span,a,dt,th,td,li{
	@include font_style;
}


/*=======================================================
	01:CommonSettings
=======================================================*/

html{
	width: 100%;
	background-color: $grey;
}

body{
	width: 100%;
	min-height: 100vh;
	text-decoration: none;
	overflow: hidden;
	background-color: $darkgrey;
}

h1,h2,h3,h4,h5,h6,a,span,th,td{
	font-weight: normal;
}

h1{
	@include fontsize_flex(18,24,280,1024);
}

a {
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}
/*=======================================================
	02:WrapperSettings
=======================================================*/

#wrapper{
	width: 100%;
}

/*=======================================================
	03:HeaderSettings
=======================================================*/

header{
	width: 100%;
}

.headerWrapper{
	width: 100%;
	position: fixed;
	.headerContainer{
		width: 100%;
		height: 60px;
		padding: 15px;
		background-color: $green;
		.headerTitle{
			width: 240px;
			float: left;
			h1{
				a{
					color: #FFF;
					line-height: 30px;
					display: block;
				}
			}
		}
		.headerSearchbox{
			width: 60vw;
			display: inline-block;
			input{
				width: calc(60vw - 65px);
				height: 30px;
				padding: 0px 10px;
				border: 0px;
				display: inline-block;
			}
			button{
				width: 65px;
				height: 30px;
				padding: 5px;
				background-color: $grey;
				display: inline-block;
			}
			@include media_max(820px){
				display: none;
			}
		}
		.headerHum{
			width: 30px;
			float: right;
			@include media_min(946px){
				display: none;
			}
			#navInput:checked ~ #navClose{
				display: block;
    			opacity: .5;
			}
			.navUnshown{
				display: none;
			}
			#navOpen {
			    display: inline-block;
			    width: 30px;
			    height: 30px;
			    padding: 5px;
			    margin: 0 auto;
			    vertical-align: middle;
			    box-sizing: border-box;
			    cursor: pointer;
			    span{
			    	position: absolute;
		   			height: 2px;
		    		width: 20px;
		    		border-radius: 4px;
		    		background: #FFF;
		    		content: '';
		    		display: block;
		    		&::before{
		    			position: absolute;
			   			height: 2px;
			    		width: 20px;
			    		border-radius: 4px;
			    		background: #FFF;
			    		content: '';
			    		display: block;	
			    		bottom: -7px;
		    		}
		    		&::after{
		    			position: absolute;
			   			height: 2px;
			    		width: 20px;
			    		border-radius: 4px;
			    		background: #FFF;
			    		content: '';
			    		display: block;
			    		bottom: -14px;
		    		}
			    }
			}
			#navClose{
				display: none;
    			position: fixed;
    			z-index: 99;
    			top: 0;
    			left: 0;
    			width: 100%;
    			height: 100%;
    			background: #000;
    			opacity: 0;
    			transition: .3s ease-in-out;
			}
		}
	}
}


/*=======================================================
	04:ArticleSettings
=======================================================*/

article{
	width: 100%;
	padding:60px  0px 0px 0px;
	min-height: 100vh;
	.sideBar{
		width: 255px;
		height: 100vh;
		background-color: $darkgrey;
		position: static;
		float: left;
		@include media_max(946px){
			position: fixed;
			overflow: auto;
		    top: 0;
		    left: 0;
		    width: 90%;
		    max-width: 255px;
		    height: 100vh;
		    background-color: $darkgrey;
		    transform: translateX(-255px);
		    -webkit-transform: translateX(-255px);
		    transition: .3s ease-in-out;
    	}
		.gnavWrapper{
			width: 255px;
			height: calc(100vh - 120px);
			position: fixed;
			overflow-y: scroll;
			.gnavContainer{
				width: 100%;
				.sidebarList{
					width: 100%;
					padding-top: 24px;
					padding-bottom: 24px;
					border-bottom: 1px solid #aaa;
					h2{
						color: #aaa;
						padding: 0px 0px 5px 15px;
					}
					ul{
						width: 100%;
						li{
							width: 100%;
							height: 40px;
							display: block;
							line-height: 30px;
							transition: 0.2s;
							-webkit-transition: 0.2s;
							a{
								height: 100%;
								padding: 5px 15px 5px 25px;
								display: block;
								i{
									width: 40px;
								}	
							}
							&:hover{
								background-color: $grey;
							}
						}
					}
				}
				.sidebarSearchbox{
					padding: 24px 15px;
					input{
						width: 160px;
						height: 30px;
						display: inline-block;
					}
					button{
						width: 60px;
						height: 30px;
						background-color: $grey;
						display: inline-block;
					}
					@include media_min(946px){
						display: none;
					}
				}
				.categoryList{
					ul{
						width: 100%;
						li{
							a{
								padding: 5px 15px 5px 25px;
								display: block;
								.categoryTitle{
									float: left;
								}
								.categoryCount{
									padding: 0px 5px;
									color: #aaa;
									font-size: 12px;
									text-align: center;
									float: right;
								}
							}
						}
					}
				}
			}
		}
	}
	.mainBar{
		width: calc(100% - 255px);
		min-height: 100vh;
		background-color: $grey;
		float: right;
		@include media_max(945px){
			width: 100%;
		}
		.articleWrapper{
			width: 90%;
			margin: 24px auto;
			max-width: 1024px;
			ul.pankuzu{
				width: 100%;
				li{
					float: left;
					a{
						font-size: 12px;
						display: inline-block;
						&:hover{
							text-decoration: underline;
						}
					}
					&::after{
						margin-left: 15px;
						font-size: 12px;
						content: ">>";
						text-decoration: none;
					}
				}
			}
			.pageTitle{
				margin-bottom: 36px;
				h2{
					width: 100%;
					margin-top: 12px;
				}
				.articleMetadata{
					span{
						font-size: 11px;
						&::after{
							content: "/";
						}
						&:last-child{
							&::after{
								content: "";
							}
						}
					}
				}
				.category{
					margin-bottom: 12px;
					li{
						margin-left: 5px;
						float: left;
						a{
							color: $green;
							&:hover{
								opacity: 0.5;
							}
							&::before{
								content: "#";
								&:hover{
									opacity: 0.5;
								}
							}
						}
					}
				}
			}
			.articleBox{
				width: 100%;
				height: auto;
				margin: 0 auto;
				display: block;
				@include media_max(945px){
					width: 100%;
				}
				li{
					width: 13vw;
					height: 13vw;
					padding: 5px;
					margin: 0px 18px 18px 0px;
					background-color: #FFF;
					box-shadow: 2px 5px #aaa;
					border: 1px solid $grey;
					display: block;
					overflow: hidden;
					float: left;
					&:hover{
						background-color: #f2f2f2;
					}
					h3{
						margin-bottom: 18px;
						@include fontsize_flex(18,14,340,1024);
					}
					p{
						@include fontsize_flex(16,11,340,1024);
					}
					img{
						width: 100%;
						height: auto;
					}
					@include media_max(1125px){
						width: 20vw;
						height: 20vw;
					}
					@include media_max(719px){
						width: 25vw;
						height: 25vw;
					}
					@include media_max(490px){
						width: 80vw;
						height: 80vw;
						margin:  0px;
						margin: 0 auto;
						margin-bottom: 18px;
						float: none;
					}
					a{
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
			.articleSingle{
				width: 100%;
				.articleSinglecontent{
					img{
						margin-bottom: 24px;
					}
					.leftContent{
						width: 50%;
						padding-right: 12px;
						float: left;
					}
					.rightContent{
						width: 50%;
						padding-left: 12px;
						float: right;
					}
					.mobileFloatnone{
						@include media_max(946px){
							width: 100%;
							padding: 0px;
							float: none;
						}
					}
					.singleIndex{
						width: 100%;
						padding: 15px;
						margin-bottom: 24px;
						background-color: $darkgrey;
						border: 1px solid $green;
						h3{
							text-align: center;
							border-bottom: none;
							margin-bottom: 0px;
						}
						ul{
							margin-bottom: 0px;
							li{
								margin: 5px 0px;
								list-style: disc none inside;
								a{
									&:hover{
										text-decoration: underline;
									}
								}
							}
						}
					}
					h3{
						width: 100%;
						padding: 5px;
						color: $green;
						border-bottom: 2px solid $green;
						font-weight: 1.5;
						font-size: 1.5rem;
						margin-bottom: 36px;
					}
					p{
						font-size: 1.0rem;
						margin-bottom: 24px;
					}
					ol,ul{
						margin-bottom: 24px;
					}
					ul,li{
						list-style: disc none inside;
					}
					table{
						width: 100%;
						margin-bottom: 24px;
						background-color: $darkgrey;
						border: 1px solid $green;
						border-collapse: collapse;
						th,td{
							padding: 5px 0px;
							text-align: center;
							border: 1px solid $green;
						}
					}
				}
			}
			.soccialButtoncontainer{
				width: 100%;
				p{
					text-align: center;
					margin: 12px 0px;
					&::before{
						content: "-";
					}
					&::after{
						content: "-";
					}
				}
				.socialButton{
					display: flex;
					justify-content: center;
					div{
						width: 100px;
						min-width: 50px;
						padding: 5px 0px;
						border: 2px solid #FFF;
						a{
							color: #FFF;
							text-align: center;
							display: block;
						}
						&:hover{
							opacity: 0.5;							}
						}
					.twitter{
						background-color: $twitter;
					}
					.facebook{
						background-color: $facebook;
					}
				}
			}
			/*.profileWraapper{
				img{
					width: 250px;
					height: auto;
					float: right;
					border-radius: 25px;
					@include media_max(554px){
						width: 100%;
						margin-bottom: 24px;
						float: none;
					}
				}
				p{
					width: calc(100% - 250px);
					margin-bottom: 24px;
					padding-right: 24px;
					float: left;
					@include media_max(554px){
						width: 100%;
						padding-right: 0px;
						float: none;
					}
				}
			}*/
		}
	}
}

/*=======================================================
	05:FooterSettings
=======================================================*/

footer{
	width: 100%;
	height: 60px;
	background-color: $green;
	.footerWrapper{
		width: 100%;
		.copyRight{
			text-align: center;
			p{
				@include fontsize_flex(12,18,764,1024);
				line-height: 60px;
				color: #FFF;
			}
		}
	}
}

/*=======================================================
	06:NavSettings
=======================================================*/

/*=======================================================
	07:VisualSettings
=======================================================*/

/*=======================================================
	08:ContentsSettings
=======================================================*/
	
/*=======================================================
	09:TableSettings
=======================================================*/

/*=======================================================
	10:FormSettings
=======================================================*/